body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PTSans NarrowBold";
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  /* только для оформления сетки */
  background-color: darksalmon;
}

.container {
  /* только для оформления сетки */
  background-color: aquamarine;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  /* только для оформления сетки */
  background-color: yellow;
  min-height: 70px;
  float: left;
  width: 780px;
}

.user-block {
  /* только для оформления сетки */
  background-color: yellow;
  min-height: 70px;
  float: right;
  width: 140px;
}

.main-head {
  /* только для оформления сетки */
  background-color: crimson;
  width: 621px;
  margin-top: 60px;
}

.breadcrumbs {
  /* только для оформления сетки */
  background-color: chartreuse;
  width: 621px;
  margin-top: 28px;
  margin-bottom: 60px;
}

.producers-goods {
  /* только для оформления сетки */
  background-color: darkgray;
  min-height: 570px;
  float: left;
  margin-right: 20px;
}

.producers {
  /* только для оформления сетки */
  background-color: greenyellow;
  min-height: 258px;
  width: 220px;
  margin-bottom: 55px;
}

.goods {
  /* только для оформления сетки */
  background-color: burlywood;
  min-height: 58px;
  width: 220px;
}

.column-catalog {
  /* только для оформления сетки */
  background-color: coral;
  float: left;
  width: 700px;
}

.catalog-items {
  font-size: 0;
  margin-bottom: 45px;
}

.catalog-item {
  /* только для оформления сетки */
  background-color: darkolivegreen;
  min-height: 286px;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 14px;
}

.catalog-item:nth-of-type(3n) {
  margin-right: 0;
}

.item-image {
  margin: 0;
}

.paginator{
  /* только для оформления сетки */
  background-color: tomato;
  margin-bottom: 49px;
}

.main-footer {
  /* только для оформления сетки */
  background-color: yellow;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  /* только для оформления сетки */
  background-color: hotpink;
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  /* только для оформления сетки */
  background-color: cornsilk;
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  /* только для оформления сетки */
  background-color: darkkhaki;
  float: right;
  width: 180px;
  min-height: 90px;
}

.slider {
  /* только для оформления сетки */
  background-color: rosybrown;
  float: left;
  width: 460px;
  margin-right: 90px;
  margin-bottom: 49px;
}

.description {
  /* только для оформления сетки */
  background-color: beige;
  float: left;
  width: 390px;
  margin-bottom: 41px;
}

.price-actions {
  /* только для оформления сетки */
  background-color: darkgreen;
  float: left;
  min-width: 190px;
  margin-bottom: 67px;
}

.inside {
  /* только для оформления сетки */
  background-color: darkorange;
  float: left;
  width: 240px;
}
